body{
    margin: 1rem;
    padding: 1rem;
    background: url("../img/bg1.jpg") no-repeat fixed center center / cover #EEEEEE;
    font: 14px sans-serif;
}
ul{
    list-style: none;
}
td{
    padding: 1rem;
    border: 1px solid black;
}
input{
    text-align: center;
}

.center{
    display: grid;
    width: 100vw;
    align-items: center;
    align-self: center;
    // text-align: center;
    margin: 0;
    padding: 0;
}
.maints{
    margin: 0 auto;
    padding: 2rem;
}
.statusBox{
    /*background-color: #FCAF1B;*/
    border: 1px solid black;
    padding: 1rem;
}
.container.footer-area{
    margin: -15px 0 -15px 0;
}
.iconspace{

}
.gray{
    background-color: lightgray;
    border-top: 3px solid black;
}
.container.header-area{
    background:url('../img/header-bg.png') no-repeat top center;
}
#ACLSlogo{
    height: 10rem;
    width: 10rem;
}
/*For "citadel" / "target" */
 .serviceName{
    font-size: 1.7rem;
 }

#StatusSites{
    // background-color: lightyellow;
}
#ETASites{
    // background-color: darkgray;
}
#NUSites{
    // background-color: pink;
}
